require 'xnlogic/deploy'

desc "Deploys the app - Call with CONFIG_FILE=server_profiles/your_server.rb"
task :deploy do
  puts <<EOF
Have you tested locally that your application is in a working state?

 Press ENTER to continue
EOF
  STDIN.gets

  Xn::DeployUtils.deploy package_gems: true

  if File.exists? 'apps/apps.deploy.sh'
    system 'apps/apps.deploy.sh'
  end
end

task :undeploy => 'torquebox:remote:undeploy'

