---
ruby:
  version: '1.9'

web:
  context: /v1

environment:
  APPS_PATH: /opt/xn_apps
  XN_BKP_PATH: /opt/xn_bkp
  XN_CLIENT: '<%= config[:namespaced_path] %>'
  # In production:
  # APPS_PATH: /home/deploy/xn_apps
  # XN_BKP_PATH: /home/deploy/xn_bkp


topics:
  /topics/jobs:

messaging:
  default_message_encoding: json
...
