<!DOCTYPE html>
<html>
<head>
<title>Welcome to <%= config[:name] %> on xnlogic!</title>
<style>
  body {
    width: 35em;
    margin: 0 auto;
    font-family: Tahoma, Verdana, Arial, sans-serif;
  }
  h1 {
    background: url('images/xnlogic-logo-site-x2.png') no-repeat;
    padding-left: 200px;
    padding-bottom: 50px;
  }
</style>
</head>
<body>
<h1>Welcome to <%= config[:name] %>!</h1>
<p>If you see this page, the xnlogic web server is successfully installed and
  working. Further configuration is required, please follow the <a href="http://xnlogic.github.io/getting_started">xnlogic Getting Started guide</a>.</p>

<p>For online documentation and support please refer to
<a href="http://github.com/xnlogic/xnlogic/wiki">xnlogic Wiki</a>.<br/>
Commercial support is available at
<a href="http://xnlogic.com/">xnlogic.com</a>.</p>

<p><em>Thank you for using xnlogic.</em></p>
</body>
</html>

