server {
  listen         80 default_server;

  client_max_body_size    10m;
  client_body_buffer_size 128k;
  proxy_connect_timeout   90;
  proxy_send_timeout      90;
  proxy_read_timeout      90;
  proxy_buffers           32 4k;
  proxy_http_version      1.0;

  proxy_set_header        Host $host;
  proxy_set_header        X-Real-IP $remote_addr;
  proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;

  access_log            /var/log/nginx/access.log;
  error_log             /var/log/nginx/error.log;

  ########################################################
  # API
  {{ if .Env.API_PORT_8080_TCP_ADDR }}
  location /v1/ {
    proxy_pass          http://{{ .Env.API_PORT_8080_TCP_ADDR }}:{{ .Env.API_PORT_8080_TCP_PORT }};
    proxy_read_timeout  90;
  }
  {{ else if .Env.PRODAPI_PORT_8080_TCP_ADDR }}
  location /v1/ {
    proxy_pass          http://{{ .Env.PRODAPI_PORT_8080_TCP_ADDR }}:{{ .Env.PRODAPI_PORT_8080_TCP_PORT }};
    proxy_read_timeout  90;
  }
  {{ end }}

  ########################################################
  # Default auth server has 2 root paths
  {{ if .Env.AUTH_PORT_80_TCP_ADDR }}
  location /users {
    proxy_pass          http://{{ .Env.AUTH_PORT_80_TCP_ADDR }}:{{ .Env.AUTH_PORT_80_TCP_PORT }};
    proxy_read_timeout  90;
  }
  location /session {
    proxy_pass          http://{{ .Env.AUTH_PORT_80_TCP_ADDR }}:{{ .Env.AUTH_PORT_80_TCP_PORT }};
    proxy_read_timeout  90;
  }
  {{ else if .Env.PRODAUTH_PORT_80_TCP_ADDR }}
  location /users {
    proxy_pass          http://{{ .Env.PRODAUTH_PORT_80_TCP_ADDR }}:{{ .Env.PRODAUTH_PORT_80_TCP_PORT }};
    proxy_read_timeout  90;
  }
  location /session {
    proxy_pass          http://{{ .Env.PRODAUTH_PORT_80_TCP_ADDR }}:{{ .Env.PRODAUTH_PORT_80_TCP_PORT }};
    proxy_read_timeout  90;
  }
  {{ end }}

  ########################################################
  # Legacy root admin app written in spine / coffeescript
  {{ if .Env.ADMIN_PORT_80_TCP_ADDR }}
  location / {
    proxy_pass          http://{{ .Env.ADMIN_PORT_80_TCP_ADDR }}:{{ .Env.ADMIN_PORT_80_TCP_PORT }};
    proxy_read_timeout  90;
  }
  {{ else }}
  location / {
    root /app/root;
    try_files $uri /index.html;
    index /index.html;

    gzip_http_version 1.0; # Required for CloudFront
    gzip_proxied any; # Required for CloudFront
    gzip_static on; # to serve pre-gzipped version
    expires 365d;
    add_header Cache-Control public;
    add_header ETag "";
  }
  {{ end }}
}
