---

XN_CLIENT:        '<%= config[:name] %>'
timezone:         'America/Toronto'
jruby_version:    '1.7.18'
DATOMIC_VERSION:  '0.9.4755'
vm_memory:        '<%= config[:vm_memory] %>'
vm_cpus:          '<%= config[:vm_cpus] %>'
mcfly_version:    '0.7.2.pre'
mcfly_key:        '...'
pm_version:       '0.6.3.pre'
pm_key:           '...'
